button {
    -webkit-app-region: no-drag;
}

p {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#navbar {
    height: 40px;
    width: 100%;
    background-color: #cccccc;
}

.window-button {
    float: right;
    padding: 5px 2.5px; 
    width: 30px;
    height: 30px;
}

#close {
    background-image: url("../images/close.png");
    background-color: #cccccc;
}
#minimize {
    background-image: url("../images/minimize.png");
    background-color: #cccccc;
}
#maximize {
    background-image: url("../images/maximize.png");
    background-color: #cccccc;
}